<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steve.mapper.EventMapper">
    <!-- Insert Event Query -->
    <insert id="insertEvent" useGeneratedKeys="true" keyProperty="eventId" keyColumn="event_id">
        INSERT INTO Event (eventName, eventLocation, eventDescription, eventDate, eventTime, eventCreator_id)
        VALUES (#{eventName}, #{eventLocation}, #{eventDescription}, #{eventDate}, #{eventTime}, #{eventCreatorId})
    </insert>

    <!-- Select All Events with Optional Filters -->
    <select id="findAllEvents" resultType="com.steve.entity.Event">
        SELECT * FROM Event
        <where>
            <if test="category != null"> AND eventName = #{category} </if>
            <if test="date != null"> AND eventDate = #{date} </if>
        </where>
    </select>
</mapper>