<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steve.mapper.CommentMapper">

    <!-- Add Comment -->
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId" keyColumn="comment_id">
        INSERT INTO Comment (content, timestamp, postedBy, event_id)
        VALUES (#{content}, CURRENT_TIMESTAMP, #{postedBy}, #{eventId})
    </insert>

    <!-- Get Comments -->
    <select id="findCommentsByEventId" resultType="com.steve.entity.Comment">
        SELECT comment_id AS commentId,
               content,
            timestamp,
            postedBy,
            event_id AS eventId
        FROM Comment
        WHERE event_id = #{eventId}
    </select>


</mapper>
